@use "../../assets/styles/alignment.scss" as align;

.scrivito-neoletter-form-widgets .form-date {
  display: inline-block;
  width: 100%;
  .date-title, input {
    @include align.text-alignment;
    p {
      display: inline;
    }
  }
}