@use '../../assets/styles/alignment.scss' as align;
.scrivito-neoletter-form-widgets .form-signature {
  display: inline-block;
  width: 100%;
  .signature-title {
    @include align.text-alignment;
    p {
      display: inline;
    }
  }
  .signature {
    button.delete {
      cursor: pointer;
    }
    canvas.neoletter-form-canvas {
      background: white;
      border: 2px solid black;
      width: 100%;
      aspect-ratio: 5 / 2;
    }
  }
}
