.scrivito-neoletter-form-widgets .form-signature {
  display: inline-block;
  width: 100%;
  .signature-title {
     &.left {
      text-align: start;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: end;

    }
    p {
      display: inline;
    }
  }
  .signature {
    button.delete {
      cursor: pointer;
    }
    canvas.neoletter-form-canvas {
      background: white;
      border: 2px solid black;
      width: 100%;
      aspect-ratio: 5 / 2;
    }
  }
}
