.scrivito-form-widgets .step-preview-count {
  position: absolute;
  top: 6px;
  left: 50%;
  background: white;
  transform: translate(-50%);
  padding: 0 5px;
  margin: 0;
}

.step-border {
  border: 2px #ff9f0080 dotted;
}
