.scrivito-neoletter-form-widgets .select-container {
  .select-title {
    display: flex;
    align-items: baseline;
  }
  .select-label {
    display: flex;
    align-items: center;
    span {
      margin-left: 0.4em;
    }
    .form-check-input {
      margin-top: 0;
    }
  }
  .dropdown-select {
    width: 100%;
  }
}
