@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scrivito-neoletter-form-widgets .select-container {
  .select-title {
     display: inline-block;
    p {
      display: inline;
    }
  }
  .select-label {
     display: flex;
     align-items: center;
    span {
      margin-left: 0.4em;
    }
    .form-check-input {
      margin: 0;
    }
  }
  .dropdown-select {
    width: 100%;
  }
  .inline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    &>* {
      padding-right: 1em;
    }
  }
  .linear-scale-container {
    display: flex;

    .scale-label {
      position: relative;
      align-self: flex-end;
      line-height: 1em;
      &.lower {
        margin-right: 1.5em;
      }
      &.upper {
        margin-left: 1.5em;
      }
    }

    .linear-scale {
      flex-direction: column-reverse;
      width: auto;
      align-items: center;
      span {
        margin-left: 0;
      }
    }
  }
  .dropdown-wrapper {
    position: relative;
    margin-top: 1.5rem;
    p {
      display: inline;
    }
    &.floating-label {
      min-height: 54px; 
      padding-top: 1.25rem;
      .dropdown-label {
        position: absolute;
        top: 62%;
        left: 2px;
        transform: translateY(-50%);
        transition: all 0.2s ease;
        pointer-events: none;
      }
      .helptext-container {
        pointer-events: auto;
        display: none;
      }
  
      .mandatory-container {
        pointer-events: auto;
  
        span {
          color: #333;
        }
      }

      &.is-selected .dropdown-label,
      .dropdown-select:focus+.dropdown-label {
        top: 5px;
        left: 0;

        .mandatory-container span {
          color: var(--bs-danger, #f03a47);
        }

        .helptext-container {
          display: inline-block;
        }
      }
    }

    .dropdown-select {
      width: 100%;
      border-radius: 0.25rem;
    }
  }

  .text-end {
    margin-top: 0.5em;
    .reset-label {
      width: fit-content;
      padding: 0.1em 0.6em;
      display: inline-block;
      border-radius: 2px;
      cursor: pointer;
      span {
        color: #5f6368;
      }
      &:hover {
        background-color: #f9f9f9;
      }
    }
    &.fade-in {
      animation: fadeIn 0.2s ease-in-out forwards;
    }
  }
}