@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scrivito-neoletter-form-widgets .select-container {
  .select-title {
    display: flex;
    align-items: baseline;
  }
  .select-label {
    display: flex;
    align-items: center;
    span {
      margin-left: 0.4em;
    }
    .form-check-input {
      margin-top: 0;
    }
  }
  .dropdown-select {
    width: 100%;
  }
  .inline {
    flex-direction: row;
    flex-wrap: nowrap;
    & > * {
      width: fit-content;
    }
  }
  .linear-scale-container {
    display: flex;
    align-items: flex-end;
    .lower-scale-label {
      top: 5px;
      position: relative;
      margin-right: 1.5em;
    }
    .upper-scale-label {
      top: 5px;
      position: relative;
      margin-left: 1.5em;
    }
    .linear-scale {
      flex-direction: column-reverse;
      width: auto;
      span {
        margin-left: 0;
      }
    }
  }
  .text-end {
    margin-top: 0.5em;
    .reset-label {
      width: fit-content;
      padding: 0.1em 0.6em;
      display: inline-block;
      border-radius: 2px;
      cursor: pointer;
      span {
        color: #5f6368;
      }
      &:hover {
        background-color: #f9f9f9;
      }
    }
    &.fade-in {
      animation: fadeIn 0.2s ease-in-out forwards;
    }
  }
}
