.scrivito-neoletter-form-widgets.form-container-widget .form-check {
  .form-check-label {
    display: inline;
    &.is-invalid {
    color: initial;
    }
    color: inherit;
    p {
      display: inline;
      margin: 0;
    }
  }
}

