@use "../../assets/styles/alignment.scss" as align;

.scrivito-neoletter-form-widgets.form-container-widget .form-check {
@include align.text-alignment;
  .form-check-label {
    display: inline;
    color: inherit;

    &.is-invalid {
      color: initial;
    }
    p {
      display: inline;
      margin: 0;
    }
  }
  input {
    position: absolute;
  }
}