@use "../../assets/styles/alignment.scss" as align;

.scrivito-neoletter-form-widgets .form-rating {
  width: 100%;
@include align.text-alignment;
  .rating-title {
    display: inline-block;

    p {
      display: inline;
    }

  
  }
}