// Styles for FormContainerWidget
.scrivito-neoletter-form-widgets.form-container-widget {

  .dropdown-container,
  .select-container {
    .select-title {
      display: flex;
      align-items: baseline;
    }
  }

  .text-super {
    vertical-align: super;
  }

  .text-mandatory {
    font-weight: 700;
    color: var(--bs-danger, #f03a47); //$secondary;
    cursor: default;
  }

  .rating-icon.bi {
    color: grey;
  }

  .winnie-the-pooh {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
  }

  .form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .step-counter {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .review-button {
      margin-right: 1em;
    }
  }

  .hide {
    display: none;
  }

  &.form-border {
    border: black 1px dotted;
    padding: 0.5em;
  }

  .recaptcha-container {
    display: flex;

    &.left {
      justify-content: left;
    }

    &.center {
      justify-content: center;
    }

    &.right {
      justify-content: right;
    }
  }

  .missing-site-key {
    border: #f03a47 1px solid;
    padding: 1em 0;
  }

  // Bootstrap Icons - Sizes Add-on
  .bi {
    &.bi-1x {
      font-size: 1em;
      line-height: 1;
    }

    &.bi-default {
      font-size: 1.3em;
      line-height: 1;
    }

    &.bi-2x {
      font-size: 2em;
      line-height: 1;
    }

    &.bi-3x {
      font-size: 3em;
      line-height: 1;
    }

    &.bi-4x {
      font-size: 4em;
      line-height: 1;
    }

    &.bi-5x {
      font-size: 5em;
      line-height: 1;
    }
  }

  @keyframes rotate-icon {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .rotate-icon {
    display: inline-block;
    animation: rotate-icon 2s linear 0s infinite;
  }
}

.bg-dark-image,
.bg-brand-primary,
.bg-brand-secondary,
.bg-grey,
.bg-greydark,
.bg-greymiddle {

  .missing-id,
  .missing-site-key,
  .scrivito-neoletter-form-widgets.form-container-widget .linear-scale-container,
  .scrivito-neoletter-form-widgets.form-container-widget .reset-label span,
  .scrivito-neoletter-form-widgets.form-container-widget label,
  .scrivito-neoletter-form-widgets.form-container-widget .text-mandatory,
  .scrivito-neoletter-form-widgets.form-container-widget .bi,
  .scrivito-neoletter-form-widgets.form-container-widget .text-super,
  .card.card-theme .scrivito-neoletter-form-widgets.form-container-widget label,
  .card.card-theme .scrivito-neoletter-form-widgets.form-container-widget .text-mandatory,
  .card.card-theme .scrivito-neoletter-form-widgets.form-container-widget .bi {
    color: #fff;
  }

  // hardcoded for now
  .card .scrivito-neoletter-form-widgets.form-container-widget label {
    color: #495054
      /*$theme-grey */
      !important;
  }

  .card .scrivito-neoletter-form-widgets.form-container-widget .text-mandatory {
    color: red !important;
  }

  .card .scrivito-neoletter-form-widgets.form-container-widget .bi {
    color: #ccc !important;
  }
}

.bg-dark-image,
.bg-brand-primary,
.bg-brand-secondary,
.bg-grey,
.bg-greydark,
.bg-greymiddle {
  .scrivito-neoletter-form-widgets.form-container-widget .reset-label:hover {
    background-color: unset;
  }
}

.scrivito-neoletter-form-widgets.missing-id {
  display: flex;
  justify-content: center;
}

// review modal
body .modal-dialog .modal-content .modal-body.form-review {
  height: 60vh;
  overflow-x: scroll;

  div.step-review-container {
    &:not(:first-child) {
      .step-review {
        margin-top: 1em !important;
      }
    }
  }

  .review-item-title {
    color: #9e9e9e;
    margin-bottom: 0;
    margin-top: 1em;
    font-size: 1em;
    font-weight: normal;
  }

  .review-item-value {
    //  margin-top: 0.3em;
    font-weight: normal;
    white-space: pre-wrap;
    max-width: 100vw;
    overflow-x: auto;
  }
}