// Styles for FormContainerWidget
.scrivito-neoletter-form-widgets.form-container-widget {

  .text-super {
    vertical-align: super;
  }

  .text-mandatory {
    font-weight: 700;
    color: var(--bs-danger, #f03a47); //$secondary;
    cursor: default;
  }

  .rating-icon.bs-icon {
    color: grey;
  }

  .winnie-the-pooh {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
  }

  .form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .step-counter {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .review-button {
      margin-right: 1em;
    }

    .edit-mode-margin {
      margin-right: 1em;
    }
  }

  .hide {
    display: none;
  }

  &.form-border {
    border: black 1px dotted;
    padding: 0.5em;
  }

  .captcha-container {
    display: flex;

    &.left {
      justify-content: left;
    }

    &.center {
      justify-content: center;
    }

    &.right {
      justify-content: right;
    }
  }

  .missing-site-key {
    border: #f03a47 1px solid;
    padding: 1em 0;
  }

  // edit-mode 
    &.edit-mode {

      .form-check,
      .rating-title,
      .select-title,
      .dropdown-label,
      .signature-title,
      .input-label,
      .date-title {

        label,
        span {
          display: ruby;
        }
      }
    .fr-wrapper {
      display: inline;
      .fr-element {
        display: inline;
      }
    }
  }

  // popover
  .mandatory-container,
  .helptext-container {
    position: relative;
    display: inline;
    margin-left: 0.1em;

    .form-popover-container {
      position: absolute;
      inset: auto auto 0px 0px;
      transform: translate(-50px, -30px);
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      max-width: 276px;
      width: max-content;

      .form-popover-body {
        font-size: 14px;
        color: #677788;
        padding: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        word-wrap: break-word;

        p {
          margin: 0;
        }
      }
    }
  }

  // Bootstrap Icons - Sizes Add-on
  .bs-icon {
    &.bs-icon-1x {
      font-size: 1em;
      line-height: 1;
    }

    &.bs-icon-default {
      font-size: 1.3em;
      line-height: 1;
    }

    &.bs-icon-2x {
      font-size: 2em;
      line-height: 1;
    }

    &.bs-icon-3x {
      font-size: 3em;
      line-height: 1;
    }

    &.bs-icon-4x {
      font-size: 4em;
      line-height: 1;
    }

    &.bs-icon-5x {
      font-size: 5em;
      line-height: 1;
    }
  }

  @keyframes rotate-icon {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .rotate-icon {
    display: inline-block;
    animation: rotate-icon 2s linear 0s infinite;
  }
}

// review modal
body .scrivito-neoletter-review-form-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: #212529;

  .review-modal-dialog {
    width: 80%;
    max-width: 800px;
    margin: 1.75rem auto;

    @keyframes animatetop {
      from {
        top: -300px;
        opacity: 0
      }

      to {
        top: 0;
        opacity: 1
      }
    }

    .review-modal-content {
      animation: animatetop 0.4s;
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      pointer-events: auto;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, .2);
      border-radius: .3rem;
      outline: 0;

      .review-modal-header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        padding: 1rem 1rem;
        border-bottom: 1px solid #dee2e6;
        border-top-left-radius: calc(.3rem - 1px);
        border-top-right-radius: calc(.3rem - 1px);

        h4 {
          margin-bottom: 0;
          line-height: 1.5;
          font-family: "Segoe UI", Arial, sans-serif;
          font-weight: 500;
          margin: 10px 0;
        }
      }

      .review-modal-body.form-review {
        height: 60vh;
        overflow: auto;
        position: relative;
        flex: 1 1 auto;
        padding: 1rem;
        pointer-events: auto;
        word-break: break-word;

        div.step-review-container {
          &:not(:first-child) {
            .step-review {
              margin-top: 1em !important;
            }
          }
        }

        .review-item-title {
          color: #9e9e9e;
          margin-bottom: 0;
          margin-top: 1em;
          font-size: 1em;
          font-weight: normal;
        }

        .review-item-value {
          //  margin-top: 0.3em;
          font-weight: normal;
          white-space: pre-wrap;
          max-width: 100vw;
          overflow-x: auto;
        }
      }

      .review-modal-footer {
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
        align-items: center;
        justify-content: flex-end;
        padding: .75rem;
        border-top: 1px solid #dee2e6;
        border-bottom-right-radius: calc(.3rem - 1px);
        border-bottom-left-radius: calc(.3rem - 1px);

        button {
          color: #fff;
          background-color: var(--bs-primary, #5c9dcd);
          border-color: var(--bs-primary, #5c9dcd);
          margin: .25rem;
          padding: .375rem .75rem;
          font-size: 1rem;
          border-radius: .25rem;

          &:hover {
            background-color: var(--bs-btn-hover-bg, #395aa5);
          }
        }
      }
    }
  }
}


.bg-dark-image,
.bg-brand-primary,
.bg-brand-secondary,
.bg-grey,
.bg-greydark,
.bg-greymiddle {

  .missing-id,
  .missing-site-key,
  .scrivito-neoletter-form-widgets.form-container-widget .linear-scale-container,
  .scrivito-neoletter-form-widgets.form-container-widget .reset-label span,
  .scrivito-neoletter-form-widgets.form-container-widget label,
  .scrivito-neoletter-form-widgets.form-container-widget .text-mandatory,
  .scrivito-neoletter-form-widgets.form-container-widget .bs-icon,
  .scrivito-neoletter-form-widgets.form-container-widget .text-super,
  .card.card-theme .scrivito-neoletter-form-widgets.form-container-widget label,
  .card.card-theme .scrivito-neoletter-form-widgets.form-container-widget .text-mandatory,
  .card.card-theme .scrivito-neoletter-form-widgets.form-container-widget .bs-icon {
    color: #fff;
  }

  // hardcoded for now
  .card .scrivito-neoletter-form-widgets.form-container-widget label {
    color: #495054
      /*$theme-grey */
      !important;
  }

  .card .scrivito-neoletter-form-widgets.form-container-widget .text-mandatory {
    color: red !important;
  }

  .card .scrivito-neoletter-form-widgets.form-container-widget .bs-icon {
    color: #ccc !important;
  }
}

.bg-dark-image,
.bg-brand-primary,
.bg-brand-secondary,
.bg-grey,
.bg-greydark,
.bg-greymiddle {
  .scrivito-neoletter-form-widgets.form-container-widget .reset-label:hover {
    background-color: unset;
  }
}

.scrivito-neoletter-form-widgets.missing-id {
  display: flex;
  justify-content: center;
}

// FormIdComponent tab 
.neoletter-form-id-tab-container {
  hr {
    border: revert;
    margin: 5px 0 5px 0;
  }

  .detail-content {
  //  height: 30em; uncomment when we can use customDropdown with form data!
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 15px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

    .detail-label {
      display: block;
      padding: 0;
      padding-bottom: 4px;
      width: 100%;

      span {
        padding: 7px 3px 6px 3px;
        color: #444;
        display: block;
        font-size: 13px;
        font-weight: bold;
        font-family: "Manrope", sans-serif;
      }

      &.scrivito-error {

        i,
        span {
          color: #c04e4e !important;
        }

        .scrivito-icon-error {
          float: left;
          padding: 9px 3px;
          font-size: 11px;
          font-style: normal;
          font-weight: normal;
          line-height: 13px !important;
          vertical-align: middle;
          text-decoration: none;
          position: relative;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          -o-user-select: none;
          user-select: none;
        }
      }
    }

    .content-property-input {
      margin-bottom: 5px;
      box-shadow: 0 0 3px rgba(0, 0, 0, .2);
      border-radius: 3px;
      background: white;
      color: #555;
      display: block;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-style: normal;
      margin-bottom: 5px;
      padding: 0;
      min-height: 30px;
      line-height: 30px;
      word-break: break-all;

      &.scrivito-error {
        .input-container {
          border: 1px solid #c04e4e;
        }
      }

      .input-container {
        display: flex;
        align-items: center;
        border-radius: 3px;
        overflow: hidden;

        input {
          border: none;
          padding: 8px;
          flex-grow: 1;
          font-size: 14px;
          outline: none;
          box-shadow: none;
          border-right: 1px solid #ccc;
        }

        .button-container {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 8px;
          background-color: #426698;
          color: white;
          cursor: pointer;
          height: 100%;
        }

        .icon-button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 35px;
          height: 30px;
          background-color: transparent;
          color: #426698;
          cursor: pointer;
          border: none;
          outline: none;
          padding: 0;
          margin-right: 0.1em;

          i {
            font-size: 1.8em;
          }
        }
      }
    }

    .validation-notice {
      border-left-width: 7px !important;
      padding: 5px 10px;
      font-size: 11px;
      min-height: 30px;
      line-height: 19px;
      font-weight: normal;
      margin-bottom: 5px;
      box-shadow: 0 0 3px rgba(0, 0, 0, .2);
      border-radius: 3px;
      background: rgba(255, 255, 255, .6);

      &.scrivito-error {
        border-left: 2px solid #c04e4e;
        color: #666;
      }
    }

    .notice-body {
      color: #666;
      font-weight: bold;
      font-size: 12px;
      padding: 0 0 10px;
    }

    .scrivito-button {
      display: inline-block;
      color: #555;
      font-size: 14px;
      font-weight: normal;
      line-height: 14px;
      text-align: center;
      padding: 8px 10px;
      margin: 0 10px 10px 0;
      position: relative;
      z-index: 1;
      vertical-align: middle;
      min-width: 90px;
      min-height: 14px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      background: #fcfcfc;
      border-radius: 3px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
      text-decoration: none;

      &.scrivito-disabled {
        color: #aaa !important;
        cursor: not-allowed;
        background: #eee;
      }

      &.scrivito-blue {
        background: #426698 !important;
        color: #fff !important;
      }
    }
  }

  &.scrivito-dark {
    background: #1d2229;
    .detail-label span {
      color: #eee;
      text-shadow: 0 1px 1px rgba(0, 0, 0, .3), 0 0 4px rgba(0, 0, 0, .2);
    }


    .validation-notice {
      color: #eee !important;
      background: rgba(222, 222, 222, 0.2);
    }
    .notice-body {
      color:#aaa;
    }
   .detail-content-inner .content-property-input {
      .input-container {
        background: #43474d;
        input{
          background: inherit;
          color: #eee;
        }
        button.icon-button {
          color: #eee;
        }
      }
    }
  }
}