// Styles for FormContainerWidget
.form-container-widget {
  .dropdown-container,
  .select-container {
    .select-title {
      display: flex;
      align-items: baseline;
    }
  }
  .text-super {
    vertical-align: super;
  }
  .text-mandatory {
    font-weight: 700;
    // hardcoded for now
    color: #f03a47; //$secondary;
    cursor: default;
  }
  .fa {
    color: #ccc;
  }

  .winnie-the-pooh {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
  }
  .form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .step-counter {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  .hide {
    display: none;
  }
  &.form-border {
    border: black 1px dotted;
    padding: 0.5em;
  }
}

.bg-dark-image,
.bg-brand-primary,
.bg-brand-secondary,
.bg-grey,
.bg-greydark,
.bg-greymiddle {
  .missing-tenant,
  .form-container-widget label,
  .form-container-widget .text-mandatory,
  .form-container-widget .fa,
  .form-container-widget .text-super,
  .card.card-theme .form-container-widget label,
  .card.card-theme .form-container-widget .text-mandatory,
  .card.card-theme .form-container-widget .fa {
    color: #fff !important;
  }
  // hardcoded for now
  .card .form-container-widget label {
    color: #495054 /*$theme-grey */ !important;
  }
  .card .form-container-widget .text-mandatory {
    color: red !important;
  }
  .card .form-container-widget .fa {
    color: #ccc !important;
  }
}

.missing-id {
  display: flex;
  justify-content: center;
}
