// FormIdComponent tab 
.neoletter-form-id-tab-container {
  .scrivito_detail_content {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 15px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

    .scrivito_detail_label {
      display: block;
      padding: 0;
      padding-bottom: 4px;
      width: 100%;

      span {
        padding: 7px 3px 6px 3px;
        color: #444;
        display: block;
        font-size: 13px;
        font-weight: bold;
        font-family: "Manrope", sans-serif;
      }

      &.scrivito_error {

        i,
        span {
          color: #c04e4e !important;
        }

        .scrivito_icon_error {
          float: left;
          padding: 9px 3px;
          font-size: 11px;
          font-style: normal;
          font-weight: normal;
          line-height: 13px !important;
          vertical-align: middle;
          text-decoration: none;
          position: relative;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          -o-user-select: none;
          user-select: none;
        }
      }
    }

    .content_property_input {
      margin-bottom: 5px;
      box-shadow: 0 0 3px rgba(0, 0, 0, .2);
      border-radius: 3px;
      background: white;
      color: #555;
      display: block;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-style: normal;
      margin-bottom: 5px;
      padding: 0 8px;
      min-height: 30px;
      line-height: 30px;
      word-break: break-all;

      &.scrivito_error {
        box-shadow: 0 0 0 2px #c04e4e inset;
      }
    }

    .scrivito_validation_notice {
      border-left-width: 7px !important;
      padding: 5px 10px;
      font-size: 11px;
      min-height: 30px;
      line-height: 19px;
      font-weight: normal;
      margin-bottom: 5px;
      box-shadow: 0 0 3px rgba(0, 0, 0, .2);
      border-radius: 3px;
      background: rgba(255, 255, 255, .6);

      &.scrivito_error {
        border-left: 2px solid #c04e4e;
        color: #666;
        box-shadow: 0 0 0 2px #c04e4e inset;
      }
    }

    .scrivito_notice_body {
      color: #666;
      font-weight: bold;
      font-size: 12px;
      padding: 0 0 10px;
    }

    .scrivito_button {
      display: inline-block;
      color: #555;
      font-size: 14px;
      font-weight: normal;
      line-height: 14px;
      text-align: center;
      padding: 8px 10px;
      margin: 0 10px 10px 0;
      position: relative;
      z-index: 1;
      vertical-align: middle;
      min-width: 90px;
      min-height: 14px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      background: #fcfcfc;
      border-radius: 3px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
      text-decoration: none;

      &.scrivito_disabled {
        color: #aaa !important;
        cursor: not-allowed;
        background: #eee;
      }

      &.scrivito_blue {
        background: #426698 !important;
        color: #fff !important;
      }
    }
  }

  &.scrivito_dark {
    .scrivito_detail_label span {
      color: #eee;
      text-shadow: 0 1px 1px rgba(0, 0, 0, .3), 0 0 4px rgba(0, 0, 0, .2);
    }

    .content_property_input {
      background: rgba(222, 222, 222, .2);
      color: #eee;
    }

    .scrivito_validation_notice {
      color: #eee !important;
      background: rgba(222, 222, 222, 0.2);
    }
  }
}

// IconEditor Tab
@mixin srOnly() {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
@mixin icons() {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
@mixin activeIcon() {
  background-color: #fff;
  color: #333;
  text-decoration: none;
  box-shadow: 0 0 0 2px #ff6b6b inset;
}
.neoletter-form-icon-editor-tab {
  .icon-editor-preview {
    background: rgba(255, 255, 255, 0.8);
    padding: 14px 10px 10px 10px;
    border-radius: 4px;
    margin: 0 0 10px 0;
    display: block;
    width: 60px;
    text-align: center;
    line-height: 1.3em;
    .bi {
      font-size: 26px;
    }
  }
  .bi-icon {
    width: 25%;
    a {
      display: flex;
      align-items: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-decoration: none;
      color: #222;
      line-height: 33px;
      padding: 2px 10px;
      border-radius: 4px;
      font-size: 13px;
      margin: 2px 0;
      .sr-only {
        @include srOnly();
      }
      .bi {
        margin-right: 10px;
        color: var(--bs-primary, #5c9dcd);
        font: normal normal normal 14px "bootstrap-icons";
      }
      &:hover {
        background-color: #fff;
        color: #333;
        text-decoration: none;
        .bi {
          font-size: 23px;
        }
        .text-muted {
          color: #bbe2d5;
        }
      }
      &.active {
        @include activeIcon();
        .bi {
          font-size: 24px;
        }
        .text-muted {
          color: #bbe2d5;
        }
      }
    }
  }
  .row {
    @include icons();
  }
}
#neoletter-icon-search {
  position: relative;
  display: flex;
  align-items: center;
  .bi {
    color: #555;
  }
  label {
    position: absolute;
    left: 17px;
  }
  #search-input {
    flex-grow: 1;
    padding: 1px 5px 1px 43px !important;
    border-radius: 23px;
    font-size: 13px;
    line-height: 25px;
    &:focus {
      box-shadow: none;
    }
  }
  #search-clear.bi {
    text-decoration: none;
    position: absolute;
    right: 10px;
    color: #777;
    &:hover {
      color: #8f8f8f;
    }
  }
  .sr-only {
    @include srOnly();
  }
  #search-results {
    .row {
      @include icons();
    }
  }
}

// -- dark mode -- //

.scrivito_dark {
  .neoletter-form-icon-editor-tab .icon-editor-preview {
    background: #5a5a5a;
  }
  .neoletter-form-icon-editor-tab .headline,
  .neoletter-form-icon-editor-tab .icon-editor-preview .bi {
    color: #eee;
  }
  #neoletter-icon-search .bi {
    color: #aaa;
  }
  #neoletter-icon-search #search-input {
    background: #333;
    border: 1px solid #333;
    color: #777;
  }
  .neoletter-form-icon-editor-tab .bi-icon a {
    color: #eee;
    &:hover,
    &:active {
      background: #eee;
      color: black;
      text-decoration: none;
      box-shadow:
        0 0 3px rgba(0, 0, 0, 0.2),
        0 0 0 2px #426698 inset;
    }
    &.active {
      @include activeIcon();
    }
  }
}
